/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  /*reset Firefox user agent styles*/
  -moz-margin-before: 0px;
  -moz-margin-after: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-before: 0px;
  -moz-padding-after: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  /*reset Internet Explorer user agent styles*/
  -ms-margin-before: 0px;
  -ms-margin-after: 0px;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-before: 0px;
  -ms-padding-after: 0px;
  -ms-padding-start: 0px;
  -ms-padding-end: 0px;
  /*reset Opera user agent styles*/
  -o-margin-before: 0px;
  -o-margin-after: 0px;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-before: 0px;
  -o-padding-after: 0px;
  -o-padding-start: 0px;
  -o-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  border: 3px solid white;
}

li {
  list-style: none;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
.nav-bar {
  margin: 5px auto;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background: grey;
  border: 1px solid black;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

.pushup-image {
  width: 100px;
  height: 100px;
}

.welcome-header {
  text-align: center;
  background: grey;
  padding: 10px;
}

.welcome-fieldset {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.welcome-fieldset div, label, input {
  margin: auto;
}

#example-section header, h3, h4 {
  text-align: center;
  margin: 15px auto;
}

.example-header {
  background: grey;
  padding: 10px;
  margin: auto;
}

.empty-library {
  display: flex;
  flex-direction: column;
}

.library-intro {
  margin: 10px 25px;
}

.disclaimer {
  margin: 10px 25px;
  border: 1px solid black;
  padding: 2px;
}

.add-workout {
  margin-top: 15px;
}

.useful-info-link {
  text-align: center;
  margin-top: 25px;
}

.filled-library {
  display: flex;
  flex-direction: column;
}

.builder-fieldset {
  display: flex;
  flex-direction: column;
}

.select-difficulty {
  margin: 10px auto;
  max-width: 115px;
}

.select-type {
  margin: 10px auto;
  max-width: 115px;
}

.builder-submits {
  display: flex;
  margin: auto;
}

.builder-cancel {
  margin-right: 5px;
}

.builder-create {
  margin-left: 5px;
}

.workout-back-button{
    display: block;
    margin: 0 auto;
}

.info-back-button {
  display: block;
  margin: 0 auto;
}

.overhead-press-image {
  width: 115px;
  height: 100px;
}

.exerciseImage {
  width: 500px;
}

/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/


/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/
















/*large desktop*/
@media only screen and (max-width: 1600px) {
  body {
      border: 3px solid yellow;
  }
}

/*iPad lanscape / small laptop*/
@media only screen and (max-width: 1024px) {
  body {
      border: 3px solid blue;
  }
}

/*iPad potrait*/
@media only screen and (max-width: 768px) {
  body {
      border: 3px solid red;
  }
}

/*Android landscape*/
@media only screen and (max-width: 640px) {
  body {
      border: 3px solid brown;
  }
}

/*iPhone landscape*/
@media only screen and (max-width: 480px) {
  body {
      border: 3px solid green;
  }
}

/*iPhone portrait*/
@media only screen and (max-width: 320px) {
  body {
      border: 3px solid purple;
  }
}