/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
  box-sizing: border-box;
  /*reset Chrome user agent styles*/
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0px;
  -webkit-padding-after: 0px;
  -webkit-padding-start: 0px;
  -webkit-padding-end: 0px;
  /*reset Firefox user agent styles*/
  -moz-margin-before: 0px;
  -moz-margin-after: 0px;
  -moz-margin-start: 0px;
  -moz-margin-end: 0px;
  -moz-padding-before: 0px;
  -moz-padding-after: 0px;
  -moz-padding-start: 0px;
  -moz-padding-end: 0px;
  /*reset Internet Explorer user agent styles*/
  -ms-margin-before: 0px;
  -ms-margin-after: 0px;
  -ms-margin-start: 0px;
  -ms-margin-end: 0px;
  -ms-padding-before: 0px;
  -ms-padding-after: 0px;
  -ms-padding-start: 0px;
  -ms-padding-end: 0px;
  /*reset Opera user agent styles*/
  -o-margin-before: 0px;
  -o-margin-after: 0px;
  -o-margin-start: 0px;
  -o-margin-end: 0px;
  -o-padding-before: 0px;
  -o-padding-after: 0px;
  -o-padding-start: 0px;
  -o-padding-end: 0px;
}

/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  background-color: aqua;
  background-image: url("background.jpg");
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

div#root div.App div.nav-bar {
  padding: 10px;
  background-color: white;
  opacity: 0.8;
  position: static;
  display: block;
  width: 100%;
  top: 0;
}

div#root div.App div.nav-bar h1.dumbbell-logo {
  display: inline-block;
  width: auto;
  font-size: 150%;
  padding-top: 5px;
  padding-left: 15px;
}

div#root div.App div.nav-bar div.nav-link-wrapper > a {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  border-right: 2px solid #ddd;
}

div#root div.App div.nav-bar div.nav-link-wrapper > a:last-child {
  border-right: 0;
}

li {
  list-style: none;
}

.nav-link-wrapper {
  float: right;
}

input,
select,
button {
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 5px;
  /* display: block; */
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: rgb(63, 193, 216);
  text-decoration: underline;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/
/* .nav-bar {
  margin: 5px auto;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background: #000000;
  border: 1px solid black;
}
/* not changing with hover */
/* .nav-bar > a {
  color: white;
}  */
*/ header {
  margin: 5px auto;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  background: #000000;
  border: 1px solid black;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

div#root div.App div.welcome-page {
  text-align: center;
}

div#root div.App div.welcome-page section.login-form {
  padding: 25px;
  margin: 30px auto;
  border: 1px solid #333;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
  background-color: white;
  width: 40%;
  max-width: 400px;
}

div#root
  div.App
  div.welcome-page
  section.login-form
  fieldset.welcome-fieldset
  a {
  display: block;
}

div#root div.App div.welcome-page section#example-section {
  padding: 25px;
  margin: 30px auto;
  border: 1px solid #333;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
  background-color: white;
  width: 40%;
  max-width: 400px;
}

div#root div.App div.empty-library {
  padding: 25px;
  width: 80%;
  margin: 30px auto;
  max-width: 1000px;
  border: 1px solid #333;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
}

.pushup-image {
  width: 100px;
  height: 100px;
}

.welcome-header {
  text-align: center;
  color: white;
  padding: 10px;
}

/* .welcome-fieldset {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.welcome-fieldset div,
label,
input {
  margin-left: auto;
  margin-right: auto;
} */

div#root div.App div.login-page form.login-form {
  padding: 25px;
  margin: 30px auto;
  border: 1px solid #333;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
  background-color: white;
  width: 40%;
  max-width: 400px;
}

div#root
  div.App
  div.login-page
  form.login-form
  fieldset.welcome-fieldset
  > input[type="text"],
input[type="password"] {
  width: 90%;
}

div#root
  div.App
  div.login-page
  form.login-form
  fieldset.welcome-fieldset
  p.login-demo {
  margin-top: 10px;
  margin-bottom: 10px;
}

div#root div.App div.sign-up-page form.login-form {
  padding: 25px;
  margin: 30px auto;
  border: 1px solid #333;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
  background-color: white;
  width: 40%;
  max-width: 400px;
}

div#root
  div.App
  div.sign-up-page
  form.login-form
  fieldset.welcome-fieldset
  > input[type="text"],
input[type="password"] {
  width: 90%;
}

#root > div > div.sign-up-page > form > fieldset > a {
  display: block;
}

.library-intro {
  margin: 10px 25px;
  margin-bottom: 25px;
  background-color: white;
  text-align: center;
}

div#root div.App div.exercise-list {
  padding: 25px;
  width: 80%;
  margin: 30px auto;
  max-width: 1000px;
  border: 1px solid #333;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
}

#root > div > div.empty-library {
  text-align: center;
}

#root > div > div.empty-library > div > form {
  content: ""; 
  display: block; 
  margin: 0 auto; 
  width: 50%; 
  border-bottom: 2px solid #ddd;
  margin-bottom: 15px;
}

#root > div > div.empty-library > div.list {
  text-transform: uppercase;
}

#root > div > div.empty-library > div > form > button {
  background-color: rgb(167, 21, 21);
  color: white;
  padding: 3px 4px;
  font-size: 75%;
}

#root > div > div.empty-library > div > form > button:hover {
  background-color: rgb(255, 0, 0);
  cursor: pointer;
}

#root > div > div.empty-library > a > i {
  color: green;
  font-size: 130%;
}

#root > div > div.empty-library > a > i:hover {
  color: rgb(1, 216, 1);
}

#root > div > div.empty-library > a.useful-info-link > h5 {
  margin-top: 20px;
}

.disclaimer {
  margin: 10px 25px;
  margin-top: 25px;
  text-align: left;
  border: 1px solid black;
  padding: 2px;
  background-color: white;
}

#root > div > div.workout-builder {
  padding: 25px;
  width: 80%;
  margin: 30px auto;
  max-width: 1000px;
  border: 1px solid #333;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.75);
}

.useful-info-link {
  text-align: center;
  margin-top: 25px;
}

#root > div > div.workout-builder > form > fieldset.builder-fieldset {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

#root > div > div.workout-builder > form > fieldset > select.select-difficulty {
  margin: 10px auto;
  max-width: 115px;
}

#root > div > div.workout-builder > form > fieldset > select.select-type {
  margin: 10px auto;
  max-width: 115px;
}

#root > div > div.workout-builder > form > fieldset > section.builder-submits {
  display: flex;
  margin: auto;
}

#root > div > div.workout-builder > form > fieldset > section > a {
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(239, 239, 239);
  text-decoration: none;
}

#root > div > div.workout-builder > form > fieldset > section > a:hover {
  color: black;
  background-color: rgb(63, 193, 216);
}

#root > div > div.workout-builder > form > fieldset > section > input.builder-create {
  margin-left: 5px;
  color: white;
  background-color: rgb(0, 90, 0);
}

#root > div > div.workout-builder > form > fieldset > section > input.builder-create:hover {
  cursor: pointer;
  background-color: rgb(53, 170, 53)
}

.non-cta {
  color: white;
  background-color: rgb(199, 72, 72) !important;
}

.non-cta:hover {
  color: white !important;
  background-color: red !important;
}

.workout-back-button {
  display: block;
  margin: 0 auto;
}

.info-back-button {
  display: block;
  margin: 0 auto;
}

.overhead-press-image {
  width: 115px;
  height: 100px;
}

.exerciseImage {
  width: 500px;
}

/* -------------------------------------
Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

/* -------------------------------------
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/

/*large desktop*/
@media only screen and (max-width: 1600px) {
  body {
    border: 3px solid yellow;
  }
}

/*iPad lanscape / small laptop*/
@media only screen and (max-width: 1024px) {
  body {
    border: 3px solid blue;
  }
}

/*iPad potrait*/
@media only screen and (max-width: 768px) {
  body {
    border: 3px solid red;
  }
  #root > div > div.clearfix.nav-bar > div.nav-link-wrapper > a > span {
    display: none;
  }
}

/*Android landscape*/
@media only screen and (max-width: 640px) {
  body {
    border: 3px solid brown;
  }
}

/*iPhone landscape*/
@media only screen and (max-width: 480px) {
  body {
    border: 3px solid green;
  }
}

/*iPhone portrait*/
@media only screen and (max-width: 320px) {
  body {
    border: 3px solid purple;
  }
}
